@(message: String, err_message: String)

@main(message) {
    
    <div align=center>
    	@if(err_message != null) {
    		<font color="red">@err_message</font>
    	}
    	<form action="/login" method="post">
    		<b>Ім'я користувача:</b><br>
    		<input type="text" name="username"><br>
    		<b>Пароль:</b><br>
    		<input type="password" name="password"><br>
    		<input type="checkbox" name="setcookie"> Запам'ятати мене<br>
    		<input type="submit" value="Увійти">
    		<input type="reset" value="Збросити">
    	</form>
    </div>
    
}
